<p style="color: green"><%= notice %></p>

<%= render "remote_modal_show", title: "View Remarks" do %>
  <%= render @lppi_remark %>
<% end %>

<div>
  <%= link_to "Back to lppi remarks", lppi_remarks_path %>

  <%= button_to "Destroy this lppi remark", @lppi_remark, method: :delete %>
</div>
