<div id="<%= dom_id quote %>">
  <p>
    <strong>Product:</strong>
    <%= quote.product_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= quote.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= quote.description %>
  </p>

  <p>
    <strong>Cooperative:</strong>
    <%= quote.cooperative_id %>
  </p>

  <p>
    <strong>Cooperative branch:</strong>
    <%= quote.cooperative_branch_id %>
  </p>

  <p>
    <strong>Gross prem:</strong>
    <%= quote.gross_prem %>
  </p>

  <p>
    <strong>Service fee:</strong>
    <%= quote.service_fee %>
  </p>

  <p>
    <strong>Net prem:</strong>
    <%= quote.net_prem %>
  </p>

</div>
