<p style="color: green"><%= notice %></p>

<%#= content_tag :h1, 'LPPI Quotation', class: "text-center" %>
  <div class="card col-6 mb-2 mx-auto text-center">
    <div class="card-header">
      <%= content_tag :h4, @quote.cooperative.name, class: 'card-title' %>
      <%= content_tag :p, @quote.cooperative_branch.name, class: 'card-subtitle fw-bold fst-italic'%>
    </div>
    <div class="card-body">
      <%= content_tag :p, "Batch No.: #{@quote.quote_no}", class: 'fw-bold' %>
      <table class="mx-auto">
        <tr>
          <td class="text-end"><p>Total Sum Insured: </p></td>
          <td><%= content_tag :p, number_to_currency(@quote.quote_items.sum(:coverage), locale: :ph), class: "text-start ms-5" %></td>
        </tr>
        <tr>
          <td class="text-end"><p>Gross Premium: </p></td>
          <td><%= content_tag :p, number_to_currency(@quote.gross_prem, locale: :ph), class: "text-start ms-5" %></td>
        </tr>
        <tr>
          <td class="text-end"><p>Coop Service Fee: </p></td>
          <td><%= content_tag :p, number_to_currency(@quote.service_fee, locale: :ph), class: "text-start ms-5" %></td>
        </tr>
        <tr>
          <td class="text-end"><p>Net Premium: </p></td>
          <td><%= content_tag :p, number_to_currency(@quote.net_prem, locale: :ph), class: "text-start ms-5" %></td>
        </tr>
        
      </table>
    </div>
    <div class="card-footer">
      <%= content_tag :p, "Date Created: #{@quote.created_at.strftime("%d %b %Y")}", class: 'mb-0' %>
      
    </div>
  </div>

  <div class="row justify-content-md-center">
    <% quote_item_status = params[:w] %>

    <% if quote_item_status == "Approved" %>
      <%= render 'quotes/card_approve' %>
    <% elsif quote_item_status == "Pending" %>
      <%= render 'quotes/card_pending' %>
    <% elsif quote_item_status == "Denied" %>
      <%= render 'quotes/card_denied' %>
    <% else %>
      <%= render 'quotes/card_approve' %>
      <%= render 'quotes/card_denied' %>
      <%= render 'quotes/card_pending' %>
    <% end %>
  </div>

<div class="digg_pagination mb-3 float-end">
  <%= will_paginate @quote_items, :container => false %>
</div>

<table class="table table-stripped table-hover">
    <thead>
      <tr class="text-center">
        <th>Name</th>
        <th>Age</th>
        <th>Effectivity</th>
        <th>Expiry</th>
        <th>Term</th>
        <th>Coverage</th>
        <th>Gross Premium</th>
        <th>Service Fee</th>
        <th>Net Premium</th>
        <th>Status</th>
        <th>Remarks</th>
        <th>Action</th>
        <th>Health Declaration</th>

      </tr>
    </thead>
    <tbody>
      <% if @quote_items.present? %>

        <% @quote_items.each do |q| %>
        <tr>
          <td><%= q.member %></td>
          <td><%= q.age %></td>
          <td><%= q.effectivity %></td>
          <td><%= q.expiry %></td>
          <td><%= q.term %></td>
          <td><%= number_to_currency(q.coverage, locale: :ph) %></td>
          <td><%= number_to_currency(q.gross_prem, locale: :ph) %></td>
          <td><%= number_to_currency(q.service_fee, locale: :ph) %></td>
          <td><%= number_to_currency(q.net_prem, locale: :ph) %></td>
          <td><%= q.status %></td>
          <td class="text-center"> 
            <% if q.status == "Approved" %>
              <%= link_to "Deny", quote_item_deny_path(q: @quote.id, qi: q.id), class: "btn btn-danger btn-sm" %> 
            <% elsif q.status == "Denied" %>
              <%= link_to "Approve", quote_item_approve_path(q: @quote.id,qi: q.id), class: "btn btn-primary btn-sm" %>
            <% elsif q.status == "Pending" %>
              <%= link_to "Deny", quote_item_deny_path(q: @quote.id, qi: q.id), class: "btn btn-danger btn-sm" %> 
              <%= link_to "Approve", quote_item_approve_path(q: @quote.id,qi: q.id), class: "btn btn-primary btn-sm" %>
            <% else %>
              <%= link_to "Deny", quote_item_deny_path(q: @quote.id, qi: q.id), class: "btn btn-danger btn-sm" %> 
              <%= link_to "Approve", quote_item_approve_path(q: @quote.id,qi: q.id), class: "btn btn-primary btn-sm" %>
              <%= link_to "Pending", new_lppi_remark_path(q: @quote.id, qi: q.id), class: "btn btn-secondary btn-sm",data: { turbo_frame: "remote_modal" } %>
            <% end %>
          </td>
          <td>
            <% if q.status == "Pending" %>
              <%= link_to "View Remarks", lppi_remark_path(q: @quote.id, qi: q.id), data: { turbo_frame: "remote_modal_show" } %>
            <% else %>
              <p>-</p>
            <% end %>
          </td>
          <td>
            <% if q.coverage > 50000 %>
              <%= link_to "Add Health Dec.", "#" %>
            <% else %>
              <p>-</p>
            <% end %>
          </td>
        </tr>
      <% end %>

    <% else %>

      <tr>
        <td colspan=11>
          <%= content_tag :h1, "No items with that status - #{params[:w]}", class: 'text-center' %>
        </td>
      </tr>

    <% end %>
   </tbody>
  </table>

  <%= link_to "Back to quotes", quotes_path, class: "btn btn-outline-secondary mt-2" %>

