<div id="<%= dom_id beneficiary %>">
  <p>
    <strong>Member:</strong>
    <%= beneficiary.member_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= beneficiary.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= beneficiary.age %>
  </p>

  <p>
    <strong>Relationship:</strong>
    <%= beneficiary.relationship %>
  </p>

  <p>
    <strong>I r:</strong>
    <%= beneficiary.I_R %>
  </p>

</div>
