<div id="<%= dom_id lppi_coverage %>">
  <p>
    <strong>Batch:</strong>
    <%= lppi_coverage.batch_id %>
  </p>

  <p>
    <strong>Cooperative:</strong>
    <%= lppi_coverage.cooperative_id %>
  </p>

  <p>
    <strong>Cooperative branch:</strong>
    <%= lppi_coverage.cooperative_branch_id %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= lppi_coverage.member_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= lppi_coverage.product_id %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= lppi_coverage.age %>
  </p>

  <p>
    <strong>Effectivity:</strong>
    <%= lppi_coverage.effectivity %>
  </p>

  <p>
    <strong>Expiry:</strong>
    <%= lppi_coverage.expiry %>
  </p>

  <p>
    <strong>Terms:</strong>
    <%= lppi_coverage.terms %>
  </p>

  <p>
    <strong>Coverage:</strong>
    <%= lppi_coverage.coverage %>
  </p>

  <p>
    <strong>Gross prem:</strong>
    <%= lppi_coverage.gross_prem %>
  </p>

  <p>
    <strong>Service fee:</strong>
    <%= lppi_coverage.service_fee %>
  </p>

  <p>
    <strong>Net prem:</strong>
    <%= lppi_coverage.net_prem %>
  </p>

</div>
