<div id="<%= dom_id employee_user %>">
  <%= content_tag :h3, "User #{employee_user.id}: #{employee_user.username}"%>

  <div class="row">

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <%= content_tag :h3, "Credentials" %>
        </div>
        <div class="card-body">
          <p>
            <strong>Username:</strong>
            <%= employee_user.username %>
          </p>
           <p>
            <strong>Password:</strong>
            <%= employee_user.password %>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <%= content_tag :h3, "Details" %>
        </div>
        <div class="card-body">
          <p>
            <strong>Full name:</strong>
            <%= employee_user.employee_profile.full_name %>
          </p>
          <p>
            <strong>Birthday:</strong>
            <%= employee_user.employee_profile.birthdate %>
          </p>
        </div>
      </div>
    </div>

  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Username</th>
        <th>Employee Number</th>
        <th>Full name</th>
        <th>Birthday</th>
        <th></th>
        <th>Username</th>
        <th>Username</th>
      </tr>
    </thead>
  </table>

</div>
