<p style="color: green"><%= notice %></p>

<%= render @employee_user %>

<div>
  <%= link_to "Edit this employee user", edit_employee_user_path(@employee_user) %> |
  <%= link_to "Back to employee users", employee_users_path %>

  <%= button_to "Destroy this employee user", @employee_user, method: :delete %>
</div>
