<div id="<%= dom_id lppi_coverage_item %>">
  <p>
    <strong>Lppi coverage:</strong>
    <%= lppi_coverage_item.lppi_coverage_id %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= lppi_coverage_item.member_id %>
  </p>

  <p>
    <strong>Coverage:</strong>
    <%= lppi_coverage_item.coverage %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= lppi_coverage_item.rate_id %>
  </p>

  <p>
    <strong>Prem rate:</strong>
    <%= lppi_coverage_item.prem_rate %>
  </p>

  <p>
    <strong>Gross prem:</strong>
    <%= lppi_coverage_item.gross_prem %>
  </p>

  <p>
    <strong>Service fee:</strong>
    <%= lppi_coverage_item.service_fee %>
  </p>

  <p>
    <strong>Net prem:</strong>
    <%= lppi_coverage_item.net_prem %>
  </p>

</div>
