<div id="<%= dom_id lppi_rate %>">
  <p>
    <strong>Min age:</strong>
    <%= lppi_rate.min_age %>
  </p>

  <p>
    <strong>Max age:</strong>
    <%= lppi_rate.max_age %>
  </p>

  <p>
    <strong>Min coverage:</strong>
    <%= lppi_rate.min_coverage %>
  </p>

  <p>
    <strong>Max coverage:</strong>
    <%= lppi_rate.max_coverage %>
  </p>

  <p>
    <strong>Min annual rate:</strong>
    <%= lppi_rate.min_annual_rate %>
  </p>

  <p>
    <strong>Max annual rate:</strong>
    <%= lppi_rate.max_annual_rate %>
  </p>

  <p>
    <strong>Min monthly rate:</strong>
    <%= lppi_rate.min_monthly_rate %>
  </p>

  <p>
    <strong>Max monthly rate:</strong>
    <%= lppi_rate.max_monthly_rate %>
  </p>

  <p>
    <strong>Max allowed comm:</strong>
    <%= lppi_rate.max_allowed_comm %>
  </p>

  <p>
    <strong>Add tpd annual:</strong>
    <%= lppi_rate.add_tpd_annual_id %>
  </p>

  <p>
    <strong>Rider add tpd:</strong>
    <%= lppi_rate.rider_add_tpd_id %>
  </p>

  <p>
    <strong>Add tpd rate:</strong>
    <%= lppi_rate.add_tpd_rate %>
  </p>

  <p>
    <strong>Rider adb:</strong>
    <%= lppi_rate.rider_adb_id %>
  </p>

  <p>
    <strong>Adb rate:</strong>
    <%= lppi_rate.adb_rate %>
  </p>

</div>
