<div id="<%= dom_id cooperative_matrix %>">

  <%#= render "cooperative_matrices/table_matrix", cooperative_matrix: @cooperative_matrix %>

  <div class="card mx-auto border-info" style="max-width: 50rem;font-family: 'Times New Roman', Times, serif;">
  
    <%= render "cooperative_matrices/moa_top", cooperative_matrix: @cooperative_matrix %>

    <%= content_tag :p, "A. COMMITMENT AND UNDERTAING OF COOPERATIVE", class: "fw-bold ms-3 mt-3" %>

      <%= render "cooperative_matrices/moa_def_terms", cooperative_matrix: @cooperative_matrix %>

    <%= content_tag :p, "B. UNDERTAKING AND COMMITMENT OF 1 CISP", class: "fw-bold ms-3 mt-1" %>

      <%= render "cooperative_matrices/moa_undertaking", cooperative_matrix: @cooperative_matrix %>

    <%= render "cooperative_matrices/moa_parts_cont" %>

    
    <div class="ms-3 mt-1 me-3" style="text-align: justify;">
      <p class="ms-3 me-3"><b>IN WITNESS WHEREOF</b>, the parties hereto have set their hands on the date and place above-stated.</p>
    </div>


    
    <div class="row">

      <div class="col-md-6">
        <div class="col ms-4 mt-1 me-3">
          <p class="ms-3 me-3 fw-bold" style="max-width: 20rem; max-height: 20rem;">1 COOPERATIVE INSURANCE SYSTEM OF THE PHILLIPINES LIFE AND GENERAL INSURANCE </p>
        </div>
        <div class="w-100"></div>
        <div class="col ms-4 mt-1 me-3">
          <p class="ms-3 me-3">By:</p>
        </div>
        <div class="w-100"></div>
        <div class="col ms-4 mt-1 me-3">
          <p class="ms-3 me3"><b>ROY S. MICLAT</b></p>
          <p class="ms-3 me3">President</p>
        </div>
        <div class="w-100"></div>
        <div class="col ms-4 mt-1 me-3">
          <p class="ms-3 me3"><b>JACKELYN P. BALLENA</b></p>
          <p class="ms-3 me3">Vice President for Operations (Life Division)</p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="col ms-4 mt-1 me-3">
          <%= content_tag :p, cooperative_matrix.cooperative.name.upcase, class: "ms-3 me-3 mb-5 fw-bold" %>
        </div>
        <div class="w-100"></div>
        <div class="col ms-4 mt-1 me-3">
          <p class="ms-3 me-3">By:</p>
        </div>
        <div class="w-100"></div>
        <div class="col ms-4 mt-1 me-3">
          <p class="ms-3 me3"><b> <%= cooperative_matrix.cooperative_incharge.upcase %> </b></p>
          <p class="ms-3 me3"><%= cooperative_matrix.incharge_position %></p>
        </div>
      </div>
    </div>

  </div>

</div>


