<div id="<%= dom_id cooperative_matrix %>">
  <p>
    <strong>Cooperative:</strong>
    <%= cooperative_matrix.cooperative %>
  </p>

  <p>
    <strong>Cooperative incharge:</strong>
    <%= cooperative_matrix.cooperative_incharge %>
  </p>

  <p>
    <strong>Incharge position:</strong>
    <%= cooperative_matrix.incharge_position %>
  </p>

  <p>
    <strong>Premium rate:</strong>
    <%= cooperative_matrix.premium_rate %>
  </p>

  <p>
    <strong>Coop service fee:</strong>
    <%= cooperative_matrix.coop_service_fee %>
  </p>

</div>
