<p style="color: green"><%= notice %></p>

<%= render @cooperative_matrix %>

<div>
  <%= link_to "Edit this cooperative matrix", edit_cooperative_matrix_path(@cooperative_matrix) %> |
  <%= link_to "Back to cooperative matrices", cooperative_matrices_path %>

  <%= button_to "Destroy this cooperative matrix", @cooperative_matrix, method: :delete %>
</div>
