<p style="color: green"><%= notice %></p>

<h1>List of Cooperatives</h1>

<div id="cooperatives">
  <div class="digg_pagination mb-3 float-end">
    <%= will_paginate @cooperatives, :container => false %>
  </div>

  <table class="table table-stripped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Abbreviation</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    <% @cooperatives.each do |cooperative| %>
      <tr>
        <td><%= cooperative.name%></td>
        <td><%= cooperative.address%></td>
        <td><%= cooperative.abbreviation%></td>
        <td><%= link_to 'Edit', edit_cooperative_path(cooperative), class: "btn btn-outline-info" %> <%= link_to 'Delete', cooperative_path(cooperative), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger" %></td>
      </tr>
    </tbody>
    <% end %>
  </table>

  <div class="digg_pagination mb-3 float-end">
    <%= will_paginate @cooperatives, :container => false %>
  </div>

</div>

<%= link_to "New cooperative", new_cooperative_path, class: "btn btn-outline-success" %>
