<p style="color: green"><%= notice %></p>

<%= render "remote_modal_show", title: "View Cooperative" do %>
  <%= render @cooperative %>
<% end %>


<div>
  <%= link_to "Back to cooperatives", cooperatives_path %>

  <%= button_to "Destroy this cooperative", @cooperative, method: :delete %>
</div>
