<!DOCTYPE html>
<html>
  <head>
    <title>CispLife</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <%= render 'layouts/navigation' %>
      <div class="container">
        <%= render 'layouts/flash' %>
        <%= yield %>
        <%= turbo_frame_tag "remote_modal", target: "_top" %>
        <%= turbo_frame_tag "remote_modal_show", target: "_top" %>
      </div>
    </main>
  </body>
</html>
