<div class="wrapper-div">
  <div class="card mt-2">
      <div class="card-body">
      <%= ff.input :name %>
      <%= ff.input :age %>
      <%= ff.input :relationship, collection: ["Spouse","Child","Parents","Siblings"], input_html: { class: "form-select" } %>
      <%= ff.input :I_R, label: "Irrevocable/Revocable" %>
      
      <%= link_to_remove_nested(ff, link_text: "Remove", link_classes: "btn btn-outline-warning btn-sm mt-1") %> <!-- adds a link to add more items -->
    </div>
  </div>
</div>