<div id="<%= dom_id member %>">
  <p>
    <strong>Last name:</strong>
    <%= member.lastName %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= member.firstName %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= member.middleName %>
  </p>

  <p>
    <strong>Suffix:</strong>
    <%= member.suffix %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= member.birthdate %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= member.gender %>
  </p>

  <p>
    <strong>Cooperative:</strong>
    <%= member.cooperative_id %>
  </p>

  <p>
    <strong>Cooperative branch:</strong>
    <%= member.cooperative_branch_id %>
  </p>

</div>
