<div id="<%= dom_id actuarial_matrix_lppi %>">
  <p>
    <strong>Min age:</strong>
    <%= actuarial_matrix_lppi.min_age %>
  </p>

  <p>
    <strong>Max age:</strong>
    <%= actuarial_matrix_lppi.max_age %>
  </p>

  <p>
    <strong>Min annual prem rate:</strong>
    <%= actuarial_matrix_lppi.min_annual_prem_rate %>
  </p>

  <p>
    <strong>Max annual prem rate:</strong>
    <%= actuarial_matrix_lppi.max_annual_prem_rate %>
  </p>

  <p>
    <strong>Max allowed comm:</strong>
    <%= actuarial_matrix_lppi.max_allowed_comm %>
  </p>

  <p>
    <strong>Rider add tpd:</strong>
    <%= actuarial_matrix_lppi.rider_add_tpd_id %>
  </p>

  <p>
    <strong>Rider adb:</strong>
    <%= actuarial_matrix_lppi.rider_adb_id %>
  </p>

</div>
