<p style="color: green"><%= notice %></p>

<%= render @actuarial_matrix_lppi %>

<div>
  <%= link_to "Edit this actuarial matrix lppi", edit_actuarial_matrix_lppi_path(@actuarial_matrix_lppi) %> |
  <%= link_to "Back to actuarial matrix lppis", actuarial_matrix_lppis_path %>

  <%= button_to "Destroy this actuarial matrix lppi", @actuarial_matrix_lppi, method: :delete %>
</div>
